<div style="background: url(http://www.retrospectiba.com/assets/bg-grey-wood.jpg) repeat #333; padding: 15px">
  <div style="background-color: #fff; margin: 0 auto; padding: 10px; border-radius: 10px; width: 920px;">
    <div style="font-family: Helvetica Neue, Helvetica, Arial, sans-serif; font-size: 13px; color: #333; border-bottom: 1px solid #eeeeee; padding-bottom: 10px; margin-bottom: 15px;">
      <h3 style="font-size: 20px; margin: 10 0 0 0; font-weight: bold">Reset de Senha</h3>
    </div>

    <div style="font-family: Helvetica Neue, Helvetica, Arial, sans-serif">
      Ola, <%= @user.name %><br>
      Clique nesse <%= link_to "link", "#{@url}#{password_path}?forgot_password_token=#{@user.forgot_password_token}" %> para resetar a sua senha.
    </div>
  </div>
</div>
