<h1>Reset Password</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_tag(rememeber_password_path, :method => :post) do  %>

      <%= label_tag :email, "E-mail" %>
      <%= text_field_tag :email, nil, :class => "email" %>

      <%= submit_tag "Reset", class: "btn btn-primary btn-inverse" %>
    <% end %>
  </div>
</div>
