<div class="row-fluid">
  <div class="span5">
    <img src="/assets/homer-forgot-pass.jpg">
  </div>
  <div class="span6">
    <h3>Reset Password</h3>

    <%= form_tag(remember_password_remember_path, :method => :post) do  %>
      <ul class="form">
        <li class="field">
          <%= label_tag :email, "E-mail" %>
          <%= text_field_tag :email, nil, :class => "email" %>
        </li>
        <li class="field">
          <%= submit_tag "Reset", class: "btn btn-primary btn-inverse" %>
        </li>
      </ul>
    <% end %>
  </div>
</div>
